*{
    margin: 10px;
}
header,
footer{
    height:100px;
}

main section, aside{
    height:300px;
}

header{
    background:red;
}

main{
    display:flex;
}
section{
    background:green;
    width: 50%;
}

aside{
    background:blue;
    width: 50%; 
}

footer{
    background: yellow;
}