*{
    margin: 10px;
}
header,
footer{
    height:100px;
}

main section, aside{
    height:300px;
}

header{
    background:red;
}

main{
    display:flex;
}
section{
    background:green;
    width:70%;
}

aside{
    background:blue;
    width: 30%;
}

footer{
    background: yellow;