body, html{
    margin:0, auto;
    width: 800px;
    text-align: center;
    font-size: 12px;
}
.color{
    padding:10px;
    margin: 0px;
    background:grey;
 
}
.headline{
    background: black;
    color:white;
}

.lorem{
    background:salmon;
    padding: 20px;
    margin: 10px;
}
.lorem1{
    color: purple;
    
}
.lorem2{
    color:green;
}
.lorem3{
    color:yellow;
}