/* FONT FAMILY HELPERS :) */
font-family: 'Oswald', sans-serif;
font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif;

body{
    font-family: "Source Sans Pro"
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background:black
}
a{
    text-decoration:none;
    color:white;
}
.logo{
    font-family: "Merriweather", serif;
    color: yellow;
}

.tagline{
    font-family: "Merriweather";
    background: #C6C6C6;
    text-align: center;
}
.profile{
    background-image: url("../img/coworking.jpg"); 
    background-size: cover;
    background-position: center;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
}

.trifold{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
footer{
    color:white;
    background:black;
}