/* font-family: 'Cormorant Garamond', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Lato', sans-serif; */

body{
    font-family: 'Lato', sans-serif;
    background:#E8EAEB
}

.logo{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: left;
}

.menubutton{
  text-align: center;
  
}
.country{
font-family: 'Lato', sans-serif;
font-size: 26px;
  position:fixed;
  top: 50%;
  left: 0;
  right:0;
}

.container1 {
display: grid; 
width: 100%;
grid-template-columns: repeat(12,1fr);
grid-template-areas: 
"l l l l l m m r r r r r"
;
}

/*
5-2-5
*/

.middle {
    grid-area: m;
    text-align: center;
}

.leftcolumn{
    grid-area: l;
    text-align: right;
}

.rightcolumn {
    grid-area: r;
    text-align: left;
}   

.landscape {
    width: 100%;
}

.portrait {
    width: 65%;
    display: inline-block;
}

.landscape img,
.portrait img {
    width: 100%;
    height: auto;
}

.caption{
    text-align: left;
}
/* menu css */

.menucontainer {
    display: grid; 
    width: 100%;
    grid-template-columns: repeat(12,1fr); 
    grid-template-areas: 
    "s1 s1 s1 s1 s2 s2 s2 s2 s3 s3 s3 s3";    
}

.section1{
    grid-area: s1; 
    border-right: 3px solid #F4426E;
}
.section2{
    grid-area: s2;
    border-right: 3px solid #F4426E;
}
.section3{
    grid-area: s3;
}

.section1, .section2, .section3{
    padding:20px;
}

.headline{
    font-family: 'Lato', sans-serif;
    font-size:30px;
}

.body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: left;
}

